<!DOCTYPE html>

<html>

    <head>
        <meta charset='utf-8'>
        <title>This is my about page</title>

    </head>
    <body>

        {{> header}}

        <p>
            {{screamIt 'This is the about page'}}
        </p>

        
        {{> footer}}
    </body>


</html>