<!DOCTYPE html>

<html>

    <head>
        <meta charset='utf-8'>
        <title>This is the projects page</title>

    </head>
    <body>

        {{> header}}

        <p>
            This is my portfolio page.
        </p>

        {{> footer}}

    </body>


</html>